@font-face {
  font-family: 'Galano';
  src: url('~appAssets/Galano.ttf');
  font-weight: normal;
}

html,body {
  font-family: 'Galano';
  color: #172348;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
}

.orange {
  height: 98vh;
  display: flex;

  .grid {
    flex: 1;
  }
}
.active{
  background: red;
  border-radius: 5px;
}